<h1>Welcome to the Movie Listing Landing Page</h1>
 <a asp-area="" asp-controller="Movies" asp-action="ViewAll">View All Movies</a>
 <a asp-area="" asp-controller="Movies" asp-action="ViewPositive">View Positive Movies</a>
 <a asp-area="" asp-controller="Movies" asp-action="ViewNegative">View Negative Movies</a>
