@model MovieListing.ViewModels.MovieListViewModel
<h1>View Negative Movies</h1>
<div class="card-group">
    @foreach (Movie movie in @Model.movieList)
    {
        if(@movie.rating < 5)
        {
            <partial name = "_MovieDetails" model = "movie"/>  
        }
    }
</div>

